style {
#my_button {
        padding: 2px;
        background-color: purple;
        color: white;
}
#my_button:hover {
        background_color: white;
        color: purple;
}
body {
  background-color:blue;
}
  .spaces{
  text-align: right;
}

a:hover {
  background-color: yellow;
  font-size: 18px;
} 
