style {
        #my_button {
        padding: 2px;
        background-color: purple;
        color: white;
}
#my_button:hover {
        background_color: white;
        color: purple;
}
}
body {
  background-color: #0398fc;
}
  .spaces{
  text-align: right;
  }
