body {
  background-image: url("pexels-felix-mittermeier-956981.jpg");
  background-color: ;
}
<style>
.saturn1.jpg {
  padding: 10px;
  height: 50px;
  background-color: pink;
}
</style>
<div class="planet";
  </div>
