body {
  background-color: #b3d1ff;
}
  .spaces{
  text-align: right;
}
#my_button {
        padding: 10px;
        background-color: purple;
        color: white;
}
#my_button:hover {
        background_color: white;
        color: purple
}
<style>
span {
	background-color: red;
	padding: 5px;
}

#container {
	display: flex;
}
</style>
<div id="container">
	<span> Text 1 </span>
	<span> Text 2 </span>
	<span> Text 3 </span>
</div>
